STORE_CORS=http://localhost:3000,https://nekoapp.fr,https://www.nekoapp.fr
ADMIN_CORS=http://localhost:9000,https://api.nekoapp.fr
AUTH_CORS=http://localhost:3000,http://localhost:9000,https://nekoapp.fr,https://www.nekoapp.fr
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# Mollie — récupère ta clé sur https://my.mollie.com/dashboard/developers/api-keys
MOLLIE_API_KEY=
MOLLIE_REDIRECT_URL=https://nekoapp.fr/paiement/confirmation
MOLLIE_WEBHOOK_URL=https://api.nekoapp.fr/hooks/payment/mollie
